:root{
<<<<<<< HEAD:style/formulario.css
    --background-color: #0d1117;
=======
    --color-grey: #0d1117;
>>>>>>> 3ef97e58f1213b6e1aa4ba6f887abe2b7076a211:formulario.css
    --color-brown: #161511;
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark: #494743;
    --color-blue1: rgb(60, 147, 218);
    --color-blue2: rgb(11, 89, 153);
    --cor-principal : #ffffff ;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-color);
}
main{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    background-color: var(--color-dark);
    padding: 2rem;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
}

h3{
    margin-bottom: 2rem;
    text-align: center;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}

.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-red);
    display: none;
}

.inputs{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-brown);
    border: 2px solid var(--color-brown);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus{
    border-color: var(--color-blue1);
}

.box-select{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 1rem;
}

button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-blue2);
    color: var(--color-white);
    cursor: pointer;
    transition: .3s;
}

button[type="submit"]:hover{
    background-color: var(--color-blue1);
}
@media screen and (max-width: 576px){
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
    
}
