:root {
    --background-color: #0d1117 ;
    --cor-principal : #ffffff ;
    --cor-botao : #2f81f7 ;
    --color-text: #ffffffe3 ;
 
}

body {
     background-color: var(--background-color) ;
}
main{
    width: 940px;
	margin: 0 auto;
}
h1{
    padding: 1.3% 0% 1% 0%;
}
.textoPrincipal{
    color: var(--cor-principal);
    text-align: center;
    margin: 0%;
}
.lista_botao{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.lista_parte{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
    
.lista_parte li{
    box-sizing: border-box;
    list-style: none;
    text-align: center; 
	width: 30%;
	margin: 10px 1.5%;
	padding:30px 20px;
	border: 3px solid #000000;
	border-radius: 20px;
}
.lista_parte p {
    color: var(--color-text);
}
.link_botao{
    text-decoration: none;
    color:var(--cor-botao);
}
.link_botao:hover{
    font-size: 1.2rem;
    color: #00ffff;
}
